/* Global Styles */

* {
    margin: 0;/* Reset margin to 0 for all elements */
}

body {
    font-family: 'Myriad Pro', Arial, sans-serif;  /* Changed font to 'Myriad Pro' */
    background: #f2f2f2;
}

.hero {
    background-color: #fff;
}

.hero-content {
    margin: 50px; /* Adds 20 pixels of margin on both left and right sides */
}

h1 {
    font-size: 2em;
    color: #f96100;
}

h2 {
    color: #f96100;
}

/* Top Bar */
.top-bar {
    display: flex;
    justify-content: space-between;/* Adjusted to space between */
    background-color: #f96100;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
}


.contact-info {
    color: red; /* Red color for the "CALL US NOW!" text */
    white-space: nowrap; /* Prevents the phone number from wrapping */
}

.phone-number {
    color: white;
    margin-left: 10px; 
}

.login-text {
    cursor: default;
    color: red;
}

.signup-link {
    color: #fff;
    text-decoration: none;
    padding-left: 10px;
}

/* Header Content */
.header-content {
    background-color: #f2f2f2; /* Changed to light grey background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.logo {
    display: flex;
    padding-left: 50px;
    align-items: center;
    font-size: 4em;
    font-weight: bold;
}

.logo-your {
    color: #333;
    margin-right: 10px;
}

.logo-logo {
    color: #f96100;
}

/* Main Navigation */
.main-nav {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.nav-links {
    padding: 50px;
    list-style: none; /* This hides the bullet points */
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li {
    padding: 16px 14px;
    position: relative;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.nav-links li a:hover,
.nav-links li a.active {
    border-bottom: 3px solid #f96100;
}

/* Dropdown Menu */
.dropdown-content {
    padding: 0;
    display: none;
    position: absolute;
    width: 130px;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    list-style-type: none; /* This removes the bullets */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f2f2f2;
}

/* Submenu Level 2 */
.submenu-level2 {
    padding: 0;
    display: none;
    width: auto;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    position: absolute;
    left: 100%; /* This positions the submenu to the right of the parent menu item */
    top: 8px;
    list-style-type: none; /* This removes the bullets */
}

/* Show submenu level 2 on hover */
.submenu-item:hover .submenu-level2 { 
    display: block;
}
.submenu-level2 li a {
    white-space: nowrap;
}

/* Breadcrumbs */
.breadcrumbs {
    background-color: #fff; /* White background color */
    padding-top: 60px; /* Adjusted padding */
}
/* Breadcrumbs Styles */
.breadcrumbs ul li {
    display: inline;
}


.breadcrumbs ul li a {
    text-decoration: none;
    color: #333; 
}

.breadcrumbs ul li a:hover {
    text-decoration: underline; 
}

/* Input group to hold phone and email inputs inline */
.input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
}

/* Styles for inputs within the input group */
.input-group input[type="tel"],
.input-group input[type="email"] {
    flex: 1; 
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

.contact-text {
    margin: 45px; 
}
/* Contact Section */
.contact-section {
    padding: 20px 20px; 
    background-color: #fff;
}

.form-reach-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-form,
.reach-us {
    flex-basis: 48%;
    padding: 10px 20px;
    margin: 10px;
}
address {
    margin-bottom: 20px;
}
.section-title {
    border-bottom: 6px solid #a5a4a3; 
    padding-bottom: 5px;
    margin-bottom: 20px;
    font-size: 1.25em; 
}

/* Contact Form Styles */
#contact-form input[type="text"],
#contact-form input[type="tel"],
#contact-form input[type="email"],
#contact-form textarea {
    box-sizing: border-box;
    width: 100%; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact-form .input-group {
    justify-content: space-between;
    gap: 10px; 
}

#contact-form .input-group input[type="tel"],
#contact-form .input-group input[type="email"],
#contact-form input[type="email"],
#contact-form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px;
}

#contact-form .input-group {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust the space between the inputs as needed */
    border: 1px solid #ccc;
}

#contact-form .input-group input[type="tel"],
#contact-form .input-group input[type="email"] {
    flex-basis: calc(50% - 5px); /* Adjust width to account for the gap */
    padding: 10px;
}

#contact-form textarea {
    height: 100px; /* Adjust the height of your textarea */
    resize: vertical; /* Allows the user to resize the textarea vertically */
}

#contact-form button[type="submit"] {
    background-color: #f96100;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px; /* Space above the submit button */
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    display: block;
    box-sizing: border-box;
}

/* Social Links Styles */
.social-links {
    display: flex; 
    gap: 10px; /* Adjust the space between icons */
    padding-top: 45px; /* Adjust the padding as needed */

}

.social-links a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    background-color: #afacab;
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease; /* Add transition for smooth color change */
}
input, textarea {
    background-color: #b7b7b76b; 
}
.social-links a:hover {
    background-color: #545353; /* Darker background color on hover */
}

/* Hamburger Menu Style */
.hamburger-menu {
    display: none; /* Hidden by default */
    cursor: pointer;
}

.hamburger-menu i {
    color: #f96100; /* Icon color */
    font-size: 24px; /* Icon size */
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links li {
        text-align: center; 
        padding: 15px; 
    }

    .nav-links li a {
        display: block;
    }

    .dropdown-content,
    .submenu-level2 {
        position: static;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        text-align: center; 
        padding: 10px; 
    }

    .contact-info, 
    .auth-links {
        width: 100%; 
        margin-bottom: 10px; 
    }

    .header-content {
        flex-direction: column;
    }

    .main-nav .nav-links,
    .auth-links {
        justify-content: center;
        padding-top: 10px;
    }

    .main-nav .nav-links li,
    .auth-links a {
        padding: 5px 0;
    }

    .form-reach-wrapper {
        flex-direction: column;
    }

    .contact-form,
    .reach-us {
        width: 100%;
        padding: 0; /* Remove horizontal padding on small screens */
    }

    #contact-form .input-group {
        flex-direction: column;
    }

    #contact-form .input-group input[type="tel"],
    #contact-form .input-group input[type="email"] {
        width: 100%; 
    }

    #contact-form textarea {
        width: 100%;
    }
}

